# Project 2

In [2]:

#objectives
#1. Which movies have maximum views/ratings?
#2. What is the average rating for each movie? Define the top 5 movies with the maximum ratings.
#3. Define the top 5 movies with the least audience.
#4. - Recommendation Model: Some of the movies hadn’t been watched and therefore, are not rated by the users. Netflix would like to take this as an opportunity and build a machine learning recommendation algorithm which provides the ratings for each of the users.
#####a.    Divide the data into training and test data
#####b.    Build a recommendation model on training data
#####c.   Make predictions on the test data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# reading the file
# 
location = r'amazonmoviesandtvratings/Amazon - Movies and TV Ratings.csv'

In [4]:
df_movie_rating = pd.read_csv(location)
df_movie_rating.head()

,user_id,Movie1,Movie2,Movie3,Movie4,Movie5,Movie6,Movie7,Movie8,Movie9,...,Movie197,Movie198,Movie199,Movie200,Movie201,Movie202,Movie203,Movie204,Movie205,Movie206
0,A3R5OBKS7OM2IR,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH3QC2PC1VTGP,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A3LKP6WPMP9UKX,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AVIY68KEPQ5ZD,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A1CV1WROP5KTTW,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_movie_rating.columns

Index(['user_id', 'Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9',
       ...
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201', 'Movie202',
       'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype='object', length=207)

In [6]:
df_movie_rating.isnull().sum()

user_id        0
Movie1      4847
Movie2      4847
Movie3      4847
Movie4      4846
            ...
Movie202    4842
Movie203    4847
Movie204    4840
Movie205    4813
Movie206    4835
Length: 207, dtype: int64

In [7]:
df_movie_rating.shape

(4848, 207)

In [8]:
#1 Movie ratings
df_movie_rating.describe().T

          count      mean       std  min   25%  50%  75%  max
Movie1      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie2      1.0  5.000000       NaN  5.0  5.00  5.0  5.0  5.0
Movie3      1.0  2.000000       NaN  2.0  2.00  2.0  2.0  2.0
Movie4      2.0  5.000000  0.000000  5.0  5.00  5.0  5.0  5.0
Movie5     29.0  4.103448  1.496301  1.0  4.00  5.0  5.0  5.0
...         ...       ...       ...  ...   ...  ...  ...  ...
Movie202    6.0  4.333333  1.632993  1.0  5.00  5.0  5.0  5.0
Movie203    1.0  3.000000       NaN  3.0  3.00  3.0  3.0  3.0
Movie204    8.0  4.375000  1.407886  1.0  4.75  5.0  5.0  5.0
Movie205   35.0  4.628571  0.910259  1.0  5.00  5.0  5.0  5.0
Movie206   13.0  4.923077  0.277350  4.0  5.00  5.0  5.0  5.0

[206 rows x 8 columns]

In [9]:
#1 Movie that has maxmium view
df_movie_rating.describe().T['count'].sort_values(ascending = False)[:1].to_frame()

           count
Movie127  2313.0

In [10]:
#1 Movie that has maxmium rating
df_movie_rating.drop('user_id', axis=1).sum().sort_values(ascending = False)[:1].to_frame()

               0
Movie127  9511.0

In [11]:
#2. Average ratting of each movie
df_movie_rating.drop('user_id', axis=1).mean()

Movie1      5.000000
Movie2      5.000000
Movie3      2.000000
Movie4      5.000000
Movie5      4.103448
              ...
Movie202    4.333333
Movie203    3.000000
Movie204    4.375000
Movie205    4.628571
Movie206    4.923077
Length: 206, dtype: float64

In [12]:
#2. the top 5 movies with the maximum ratings
df_movie_rating.drop('user_id', axis=1).mean().sort_values(ascending = False)[0:5].to_frame()

           0
Movie1   5.0
Movie66  5.0
Movie76  5.0
Movie75  5.0
Movie74  5.0

In [13]:
#3. the top 5 movies with the least audience
df_movie_rating.describe().T['count'].sort_values(ascending = True)[0:5].to_frame()

          count
Movie1      1.0
Movie71     1.0
Movie145    1.0
Movie69     1.0
Movie68     1.0

# 4. - Recommendation Model:

# Some of the movies hadn’t been watched and therefore, are not rated by the users. Netflix would like to take this as an opportunity and build a machine learning recommendation algorithm which provides the ratings for each of the users.

In [14]:
#importing libiraies for model building
from surprise import Reader
from surprise import Dataset
from surprise import accuracy
from surprise import SVD
from surprise.model_selection import train_test_split

In [15]:
movie_data = df_movie_rating.melt(id_vars = df_movie_rating.columns[0],value_vars=df_movie_rating.columns[1:],var_name="Movies",value_name="Rating")
movie_data

               user_id    Movies  Rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [16]:
#a. Divide the data into training and test data
#creating a dataset for training and testing
rd = Reader(rating_scale=(-1,10))
data = Dataset.load_from_df(movie_data.fillna(0),reader=rd)
data

In [17]:
#a. Divide the data into training and test data
train_data,test_data = train_test_split(data,test_size=0.20)

In [18]:
#Using SVD (Singular Value Descomposition)
svd = SVD()

In [19]:
#c. Make predictions on the test data
svd.fit(train_data)

In [20]:
#c. Make predictions on the test data
pred = svd.test(test_data)

In [21]:
#c. Make predictions on the test data
accuracy.rmse(pred)

RMSE: 0.2863

0.28632456120792266

In [22]:
#c. Make predictions on the test data
accuracy.mae(pred)

MAE:  0.0420

0.04200138503145301

In [23]:
#b.    Build a recommendation model on training data
u_id='AH3QC2PC1VTGP'
mv = 'Movie206'
r_id = 5.0
svd.predict(u_id, mv, r_ui=r_id, verbose= True)

user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 0.02   {'was_impossible': False}

Prediction(uid='AH3QC2PC1VTGP', iid='Movie206', r_ui=5.0, est=0.022654971958165654, details={'was_impossible': False})

In [24]:
from surprise.model_selection import cross_validate

In [25]:
#b.    Build a recommendation model on training data
cross_validate(svd, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.2861  0.2796  0.2840  0.2832  0.0027
MAE (testset)     0.0431  0.0425  0.0436  0.0431  0.0004
Fit time          6.78    6.82    6.72    6.77    0.04
Test time         3.90    3.41    3.17    3.49    0.30

{'test_rmse': array([0.28608938, 0.27959318, 0.28399079]),
 'test_mae': array([0.04314664, 0.04252086, 0.04361504]),
 'fit_time': (6.777421474456787, 6.822545289993286, 6.715020418167114),
 'test_time': (3.8984627723693848, 3.4089951515197754, 3.1671993732452393)}

In [26]:
#b.    Build a recommendation model on training data
def repeat(ml_type,dframe,min_,max_):
    rd = Reader()
    data = Dataset.load_from_df(dframe,reader=rd)
    print(cross_validate(ml_type, data, measures = ['RMSE', 'MAE'], cv = 3, verbose = True))
    print("#"*10)
    u_id = 'AH3QC2PC1VTGP'
    m_id = 'Movie206'
    ra_u = 5.0
    print(ml_type.predict(u_id,mv,r_ui=ra_u,verbose=True))
    print("#"*10)
    print()

In [27]:
df_movie_rating= df_movie_rating.iloc[:3000, :50]
movie_data = df_movie_rating.melt(id_vars = df_movie_rating.columns[0],value_vars=df_movie_rating.columns[1:],var_name="Movies",value_name="Rating")

In [28]:
repeat(SVD(),movie_data.fillna(0),-1,10)
repeat(SVD(),movie_data.fillna(movie_data.mean()),-1,10)
repeat(SVD(),movie_data.fillna(movie_data.median()),-1,10)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    1.0320  1.0293  1.0262  1.0292  0.0024
MAE (testset)     1.0137  1.0125  1.0113  1.0125  0.0010
Fit time          0.89    0.93    0.95    0.92    0.02
Test time         0.54    0.56    0.80    0.63    0.12
{'test_rmse': array([1.03200665, 1.02925038, 1.02623185]), 'test_mae': array([1.01368226, 1.01246123, 1.01127651]), 'fit_time': (0.8925631046295166, 0.926199197769165, 0.9536924362182617), 'test_time': (0.5379371643066406, 0.5639252662658691, 0.799799919128418)}
##########
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 1.00   {'was_impossible': False}
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 1.00   {'was_impossible': False}
##########

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12192\127061997.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  repeat(SVD(),movie_data.fillna(movie_data.mean()),-1,10)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0600  0.0574  0.0530  0.0568  0.0029
MAE (testset)     0.0076  0.0076  0.0073  0.0075  0.0002
Fit time          0.88    0.91    0.88    0.89    0.01
Test time         0.56    0.76    0.55    0.62    0.10
{'test_rmse': array([0.06000831, 0.05741514, 0.0530193 ]), 'test_mae': array([0.00763777, 0.00757471, 0.00725579]), 'fit_time': (0.8813254833221436, 0.9103078842163086, 0.8770163059234619), 'test_time': (0.564445972442627, 0.7587411403656006, 0.5486879348754883)}
##########
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 4.54   {'was_impossible': False}
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 4.54   {'was_impossible': False}
##########

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12192\127061997.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  repeat(SVD(),movie_data.fillna(movie_data.median()),-1,10)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.0632  0.0643  0.0594  0.0623  0.0021
MAE (testset)     0.0053  0.0054  0.0053  0.0053  0.0000
Fit time          0.86    0.86    0.88    0.87    0.01
Test time         0.53    0.79    0.52    0.61    0.12
{'test_rmse': array([0.06316951, 0.06430707, 0.05941006]), 'test_mae': array([0.00529925, 0.00538915, 0.00529396]), 'fit_time': (0.8582351207733154, 0.8603224754333496, 0.8790724277496338), 'test_time': (0.5307331085205078, 0.7888779640197754, 0.5175023078918457)}
##########
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 4.90   {'was_impossible': False}
user: AH3QC2PC1VTGP item: Movie206   r_ui = 5.00   est = 4.90   {'was_impossible': False}
##########

In [29]:
#trying grid search and find optimum hyperparameter value for n_factors
from surprise.model_selection import GridSearchCV

In [30]:
param_grid = {'n_epochs':[20,30],
             'lr_all':[0.005,0.001],
             'n_factors':[50,100]}

In [31]:
gs = GridSearchCV(SVD,param_grid,measures=['rmse','mae'],cv=3)
gs.fit(data)

gs.best_score

print(gs.best_score["rmse"])
print(gs.best_params["rmse"])

0.2793712503623528
{'n_epochs': 30, 'lr_all': 0.005, 'n_factors': 50}